@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jokes LOL!</h1>
    <p>Help me Create new Jokes on the Webs for most Joke site!!</a>.</p>
</div>
